# Deny All
*

# Allow select paths
!apps/*
!packages/*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!nx.json

# Ignore hidden files from sub-directories
**/.*
**/dist/*

# Ignore test folders
**/test/
