# Logs
logs
*.log

# nyc test coverage
.nyc_output

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# build directories
dist

# common editor application Configs
.vscode
*.code-workspace

*.tsbuildinfo
.DS_Store

# Reproduction script test data and logs
scripts/src/performance/reproduceValidationMemory-data/
scripts/src/performance/reproduceValidationMemory-logs/
